/*Home page*/

* {
	box-sizing:border-box;
}
body {
	background-color: white;
}
	
.container {
	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 100%;
	max-width:1200px;
	}
	
	
.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}	


#head {
	height: 90px;
	position: fixed;
	width: 100%;
}

header {
	height: 90px;
	background-color: white;
	background-image: url("header-background.png"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
	opacity: .6;
	background-position: center bottom;
	padding-top: 10px;
	position: fixed;
	width: 100%;
	box-shadow: 0 2px 50px rgb(202, 202, 202);
	top: 0;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	border-bottom: 0;
	text-align: center;

}



#home {
	display: block;
	margin: 0 0 0 40px;
	max-width: 300px;
	position: relative;
	float: left;
	}

.navbar {
	
	font-size: 14px;
	color: #222222;
	padding: 0;
	margin: 0 20px 0 auto;
	position: relative;
	float: right;
	font-family: 'Lato', Futura, sans-serif;
	}

.navbar>li {
	display:inline;
	line-height: 2em;
	
	text-align: center;
	}	
	
.navbar>li>a {
	
	text-decoration: none;
	color: #222;
	margin-left: 1em;
	margin-right: 2em;
	margin-top: 1em;
	padding-bottom: 10px;
}		


.navbar > li > a:hover {
	border-bottom: 2px solid black;

	}

.navbar > li > a:active{
		color: gray;
}


.description {
	width: 70%;
	text-align: center;
	margin: 100px auto 40px auto;
	
	font-size: 20px;
	line-height: 1.5em;
}
.project-id {
	font-size: 14px;
	line-height: 1.25em;
	margin-top: 5px;
}



.gallery {
	max-width: 1200px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 40px;

}	
	
.column {
 	width:25%;
	float: left;
	display: block;


 }

.column li {
	text-decoration:none;
	 list-style-type: none;
	 padding: 10px 0 10px 0;
	 margin-top: 30px;
	 text-align:center;
	}
	
.column ul{
	padding: 30px;
	margin: 0 auto 0 auto;
}	
	

 
.row1_image {
	width:100%;
	margin-top: 1em;
	padding: 1em;
	text-align:center;
}

.row1_caption {
  	text-align:center;
	color: #555;
	

}
.hover {
	background-color: rgb(212, 255, 107);
}


.gallery3 {display:none;}

.gallery img:hover {
     opacity: 0.6;
    filter: alpha(opacity=60);
    }



.contact {
	float:left;
	text-transform: uppercase;
}
	
.contact a {
	text-decoration: none;
	color: black;
	}
	
.contact p {
	margin-top: 20px;
	margin-bottom: 20px;

	}	
	
.contact	a:hover {
	color: #FF4719;
	
	}
contact  a:visited {color: #555;}	

 a {
	text-decoration: none;
	color: black;
	font-weight: 400;}
	
.column a:hover {
	color: black;}	
	
#mobile_nav {
	display:none;
	}	
	
#mobile_jump {
	display: none;
	
	}
	
hr {
	border-top: 1px solid #ccc;
	margin: 60px auto 0 auto;
	width: 95%;
}	



#headerhr hr{
	border-top:1px solid #ccc;
	margin-top: 15px;
	}

#line {
	height: 10px;

	width: 100%;
	background-color: #ccc;
}

.gallery1{display: none;}


.media {
	float:right;

	margin-top: 20px;
	margin-bottom: 20px;
	}

.footer {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}	


.media li {
	display:inline;
	text-decoration:none;
	float:left;
	width: 40px;
	padding-left: 7px;
	padding-right: 7px;
	}	
	
.media ul {
	margin-top: 0px;
	
	}	


/*Project Page*/

.project {
	max-width: 90%;
	margin: 100px auto 20px;
	background-color: white;
	padding: 20px;
	
}	



.project-img {
	width: 60%;
	float: left;
	box-sizing: border-box;


}

.project-img img {
	margin-top: 40px;
	margin-bottom: 30px;
}

.project-text {
	width: 35%;
	float:right;	
	margin: 40px 0 40px 10px;
	padding-left: 20px;
	box-sizing: border-box;
	border-left: 1px solid #ccc;
	
}

.project-text h2{margin-top: 0;}

.project-text p{
	margin-top: 0;
}

.project-link {
	font-family: 'Lato', sans-serif;
	padding: 20px 5px;
	background-color: #727272;
	color: white;
	width: 200px;
	text-transform: uppercase;
	margin: 50px auto;
	text-align: center;
	display: block;
	border-radius: 2px;
	font-size: 14px;
	
	}

.project-link:hover {
	background-color: #C0C0C0;
	color: black;
}	

.img-border {
	border: solid 1px #ededed;
}

.project-text-mobile {display: none;}


/*About Page*/

.about-project{
	max-width: 1100px;
	margin: 60px auto 20px;
	background-color: none;
	padding: 20px;
}


.about{
	width: 33%;
	float: left;
	
	font-size: 14px;
	line-height: 1.5em;
	padding-right: 1em;
}	

.about > h1{
	border-top:2px solid black;
	letter-spacing: 2px;
	padding-top: 20px;


}
.services-list li{

	font-style: italic;
	list-style: none;
}


.services-list {
	padding-left: 0;
}
.media-list {
	padding-left: 0;
	list-style: none;
}
.media-list li a:hover{
border-bottom: 2px solid black;
}	

.things-list {
	margin-top: 0;
}

#me-picture {
	
	width: 40%;
	box-sizing: border-box;
	padding: 20px;
	display: none;
}

.about-pictures {
	width: 33%;
	float: left;
	margin-bottom: 20px;
	margin-top: 40px;
}


#resume > a:hover {
	border-bottom: 2px solid black;
	}

a:active {
	color:gray;
}

#home > a:hover {
	 opacity: 0.6;
    filter: alpha(opacity=60);
	}	


.title{
   position: relative;
    z-index:1000;
   margin-bottom: 0px;
    width:100%;
   padding-top: 10px;
    vertical-align: top;
   color: black;
    font-size: 14px;
  }

.media > ul > li > a>.title {display:none;}


.media a:hover {
     opacity: 0.6;
    filter: alpha(opacity=60);
    }




/* MOBILE LAYOUT */

@media only screen and (max-width: 1050px) {
	.project {
	padding: 0 20px;
}
	.project-img {padding-left: 20px;}

	.project-text-mobile {display: none;}

}


@media only screen and (max-width: 1000px) {
/* Style adjustments for small screens */

.gallery {display: none;}
.gallery1{display: none;}

.gallery3 {
display: block;
	max-width: 1200px;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
}

.description {
	font-size: 16px;
	margin: 100px auto 0 auto;
}
.mobile1 {
 width:33%;
  padding:10px 0 0 0;
  float:left;
 
 }
 

.mobile1 li {
	text-decoration:none;
	 list-style-type: none;
	 padding: 10px 0 10px 0;
	 margin-top: 30px;
	 text-align:center;
	}
	
.mobile1 ul{
padding: 30px;
margin: 0 auto 0 auto;
}


	
.contact {
	margin-right: auto;
	margin-left: auto;
	clear: both;
		width:100%;
	}
	

.media {
	width:100%;
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
	text-align:center;
	display:inline-block;
	}	

.media ul {
	padding:0;
	text-align:center;
		margin-right: auto;
	margin-left: auto;
		display:inline-block;

	}


.project-img {padding-left: 20px;}


.title{
   position: relative;
    z-index:1000;
   margin-bottom: 0px;
    width:100%;
   padding-top: 10px;
    vertical-align: top;
   color: black;
    font-size: 14px;
  }


	.project-text-mobile {display: none;}
	
/* MOBILE LAYOUT */

@media only screen and (max-width: 800px) {
	.about {width: 100%}
}	

@media only screen and (max-width: 700px) {

.project-text-mobile {display: block;}

.project-text {display: none;}

.title {display: none;}
.gallery {display: none;}


.gallery3 {display:none;}

.gallery1 {display: block;
	width: 95%;
	margin-right:auto;
	margin-left:auto;
	}


.navbar>li>a {
	
	text-decoration: none;
	color: #222;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	}

.description {
	
	margin: 120px auto 0 auto;
}	

.smallest1 {
 	width:50%;
  	padding:60px 0 0 0;
  	margin-top: 40px;
  	display: block;
	text-align:center;
	margin-left:auto;
	margin-right: auto;	
	text-decoration:none;
	list-style-type: none;
	float: left;
	
 }

 .smallest1 h3 {
 	font-size: 12px;
 }
 
 .smallest1 li p.project-id{
 	font-size: 12px;
 }

.navbar {
	margin: 20px auto;
	float:none;
	text-align:center;

}

.smallest1 li{

	padding: 1em;

	}

	
#home {
	width: 70%;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	float:none;
	}
 
 header {height: 120px;
 	text-align:center;}
	
.contact {
	margin-right: auto;
	margin-left: auto;
	clear: both;
		width:100%;
		font-size: 14px;
	}
	

.media {
	width:100%;
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 20px;
	clear: both;
	text-align:center;
	display:inline-block;
	}	

.media ul {
	padding:0;
	text-align:center;
	margin-right: auto;
	margin-left: auto;
	display:inline-block;

	}



/*.smaller-mobile { width:80%;} */


.project {
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 10px;
}	

.project-img {
	width: 100%;
	float: none;
	box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
	padding: 0;

}

.project-img img {
	margin-top: 0px;
	margin-bottom: 30px;
}

.project-text-mobile {
	width: 100%;
	float: none;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	border-left: none;
	font-size: 14px;
	
}

.project-text-mobile h2{
	font-size: 2em;
	margin-top: 0;
}



#about{
	width: 100%;
	float: none;

	padding: 20px 20px;
	
}



	
	}
